* {
    font-family: Montserrat, sans-serif;
}
body {
    --light-main: rgb(122, 138, 85);
    --dark-main: rgb(80, 80, 80);
    background-color: var(--light-main);
    margin: 0;
}
#switch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10vw;
    height: 10vh;
}
#switchbtn {
    height: 100%;
    width: 100%;
    background-color: rgb(149, 194, 43);
    border: none;
    font-size: 10px;
    font-weight: 600;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    border-radius: 10px;
}
#switchbtn:active {
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: none;
}