@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.ttf);
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(80, 80, 80);
    user-select: none;
}
#result-area {
    font-size: 72px;
    color: rgb(20, 20, 20);
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding-right: 8px;
    box-sizing: border-box;
    user-select: text;
}
#table {
    width: 100%;
    height: 70vh;
    background-color: rgb(20, 20, 20);
    color: white;
    text-align: center;
    font-size: 24px;
    border-spacing: 8px;
    border-radius: 15px;
}
.td {
    width: 25%;
    border-radius: 15px;
    background-color: rgb(36, 36, 36);
}
.td:hover {
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}
#result-area {
    height: 30vh;
}
#result {
    background-color: rgb(33, 0, 109);
    width: 25%;
    cursor: pointer;
}
#result:hover {
    background-color: rgb(30, 30, 30);
}
.number {
    background-color: rgb(50, 50, 50);
    cursor: pointer;
    border-radius: 15px;
}
.number:hover {
    background-color: rgb(75, 75, 75);
}